/* div class=".wrapper" .wrapper keeps body content out of header section */ 
.wrapper {
	height: 10%;
	flex-flow: column;
	border-bottom: 30px;
	border-color: #cccccc;
	}

#headername {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-color: yellow;
	background-color: #4aaaa5;
	padding: 15px 25px 15px 20px;
	border-left: 30px;
	position: absolute;
	margin: 0% 0% 0% 15%;
	}

#directory {
	float:right;
	margin: 3% 10%;
	}

/*box surrouning body content css*/

#aboutme { 
	color: #4aaaa5;
	margin-left: 33%;
	
}

.bodycontent {
	background-image: url("xv.png");
	margin-top: 5px;
	border-bottom-style: solid;
	bottom-border-width: 25px;
	border-bottom-color: #4aaaa5;
	position: absolute;
	}

/*box containing left side  */
.leftcontent {
	margin: 30px 45% 10% 10%;
	padding-left: 100px;
	padding-bottom: 10px;
	border: ;
	border-color: green;
	background-color: white;
	padding-left: 25px;
	}


#picture {
	float: left;
	padding-right: 10px;
	padding-left: 15px;
}

/* left side bar content */

img {

}
